slideshare_upload: # autoupload to Slideshare via API, 1 for enable - 0 for disable
private_slideshare_upload :  # Y for yes and N for no
document_public_host: # If serving the file to upload to SlideShare API via webserver instead of upload from source file